/* Headings */
h2 {
  margin-bottom: 1.5rem;
}

h6 {
  margin: 0 !important;
  padding: 0.5rem 0 !important;
}

/* Wrapper */
.wrapper {
  max-width: 80%; /* Adjust the maximum width as needed for responsiveness */
  margin: 40px auto; /* Center the wrapper horizontally with a top margin */
  padding: 2em;
  background-color: #333; /* Add a background color for better contrast with white text */
  border-radius: 10px; /* Add rounded corners for a modern look */
  text-align: center;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}

/* Data Container */
.container-data {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

/* Game Content */
#GameContent {
  position: relative;
  margin: 0 auto;
  height: 600px;
  width: 100%;
  border-bottom: 5px solid rgb(0, 217, 255);
  background-color: rgba(0, 0, 0, 0.5);
}

/* Falling Words */
.word {
  position: absolute;
  background-color: red;
  padding: 0 10px; /* Add units to padding values */
  width: auto;
  height: auto;
  text-align: center;
}

.word p {
  position: relative;
  margin: 0;
}

/* Game Over Modal */
.modal-gameover {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

/* Input Fields */
input {
  border-radius: 0 !important;
  border: none !important;
}

/* Modal Buttons */
.btn-modal {
  transition: all 0.5s;
  margin: 0.3em 0;
}

.btn-modal a {
  color: black;
}

.btn-modal:hover,
.btn-modal a:hover {
  background-color: rgb(153, 44, 255);
  border-radius: 0;
  color: rgb(238, 255, 0) !important;
  transform: translateY(-4px);
}

/* Audio Controls */
audio {
  position: absolute;
  top: 2%;
  right: 2%;
}
